@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-1: 'Roboto', sans-serif;
$font-2: 'Poppins', sans-serif;

$color-1: #000;
$color-2: #000;
$color-3: rgb(99, 164, 233);
$color-4: #4FEDD2;
$color-5: #36D0EA;
$white: #ddd;
$black: #333;

$borderRadius: 5px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0 2px;
    padding: 0;
}

body {
    margin: 1rem auto;
    max-width: 1200px;
    font-family: $font-1;
    color: $white;
    background: #e5e5e5;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
}

a:visited {
    color: $black;
}

.home , .knowledges, .portefolio, .contact {
    display: flex;

    @media screen and (max-width: 850px) {
        display: block !important;
    }
}

.homeContent, .knowledgesContent, .portefolioContent, .contactContent {
    margin-left: .4rem;

    @media screen and (max-width: 850px) {
        margin-left: 0 !important;
    }
}
